@font-face {
	font-family: Dancing Script;
}

body {
	margin-left: 15%;
	font-family: Dancing Script;
	color: #605B56;
	background: #02010a;
	margin-right: 15%;
}

#animacion{
	animation: slide 0.5s;
}

@-webkit-keyframes slide{
	0%   {margin-top: 150%;}
	60%  {margin-top: -5%;}
	100% {margin-top: 100%;}
}

header{
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: Dancing Script;
	color: #FFFFFF;
	height: 60px;
}

header .c1{
	margin-top: 10px;
	text-align: left;
	font-size: 30px;
	text-shadow: 2px, #02010A;
}

.c1{
	float: left;
}

header .c2{
	margin-top: 10px;
	text-align: right;
	font-size: 30px;
}

.c2{
	margin-top: 10px;
}

a:link{
	text-decoration: none;
}

a {
		color: #FFFFFF;
}


img{
	filter: drop-shadow(2px #02010a);
}

#centralimg{
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%
}

.c3{
	background: #82c3a6;
}

#imgsecder{
	border: solid #d5c75f;
	width: 48%;
	height: 40%;
	margin-top: 3%;
}

#imgsecizq{
	border: solid #d5c75f;
	width: 50%;
	height: 40%;
	transform: rotate(0deg);
}

#imgsecizq:hover{
	transform: rotate(10deg);
	filter: drop-shadow(2px 2px 2px #82c3a6);
}

#imgsecder:hover{
	transform: translateY(5px);
	transform: translateX(20px);
	filter: drop-shadow(2px 2px 2px #82c3a6);
}

footer {
	background: #C6d5c5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: Dancing Script;
}

.c4, .c5{
	display: inline;
}

.secundarias{
	margin-left: 0%;
	margin-right: 15%;
	background: #d5c75f;
	margin-left: 0%;
	margin-right: 0%;
}

.c6, .c7, .c8, .c9{
	display: inline-block;
	width: 24%;
}



#img4{
	width: 33%;
}

#img5{
	width: 33%;
}

#img6{
	width: 33%;
}

#img7{
	width: 33%;
}

#img8{
	width: 33%;
}

#img9{
	width: 33%;
}

#imagen4{
	width:80%;
	filter: blur(10px);
}

#imagen5{
	width: 80%;
	height: 38%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	filter: grayscale(100%);
}

#imagen6{
	width: 80%;
	float: right;
	filter: sepia(90);
}

#imagen7{
	width: 80%;
	height: 50%;
	filter: grayscale(100%);
}

#imagen8{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#imagen9{
	width: 80%;
	float: right;
	filter: grayscale(100%);
}

#cont{
	width: 25%;
	text-align: left;
}

#term{
	width: 25%;
}

#rede{
	width: 30%;
}

#dere{
	width: 25%;
	text-align: justify;
}


#imagen10{
	width:80%;
	filter: blur(10px);
}

#imagen11{
	width: 80%;
	height: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	filter: grayscale(100%);
}

#imagen12{
	width: 80%;
	float: right;
	filter: sepia(90);
}

#imagen13{
	width: 80%;
	height: 20%;
	filter: grayscale(100%);
}

#imagen14{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#imagen15{
	width: 80%;
	float: right;
	filter: grayscale(100%);
}

#fotospaisajes{
	background: #d5c75f;
}

#fotosretratos{
	background: #d5c75f;
}
